.recap{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
}
.recapListe{
    text-align: left;
    border: 1px solid black;
    min-width: 50%;
}
h1{
    margin-left: 50px;
}
