.carre-question{
    margin: auto;
    border:1px solid black;
    width: 150px;
    min-height: 50px;
    padding: 5px;
}
.losange{
    margin: auto;
    margin-top: 50px;
    border:1px solid black;
    transform: rotate(-45deg);
    width: 70px;
    height: 70px;
    padding: 5px;

}
.losange h6{

    transform: rotate(45deg);
    margin-top: 25px;
    font-size: 20px;


}
.container-reponse{
    display: grid;
    justify-content: space-evenly;
}    
.carre-reponse{
    grid-row: 1;
    margin-top: 50px;
    display: inline;
    border:1px solid black;
    width: 40px;
    min-height: 20px;
    padding: 5px;
}
