.carre-question{
    border:1px solid black;
    width: 150px;
    min-height: 50px;
    padding: 5px;
}
.losange{
    border:1px solid black;
    transform: rotate(-45deg);
    width: 70px;
    height: 70px;
    padding: 5px;

}
.losange h6{

    transform: rotate(45deg);


}
.carre-reponse{
    border:1px solid black;
    width: 40px;
    min-height: 20px;
    padding: 5px;
}
